<!DOCTYPE html>
<html>

  <%- include('../partials/_head/_head') %>

  <body>
    
  <%- include('../partials/_mainNav/_navBar') %>

    <!--  Place remaining index content for users here  -->
  </body>

  <header class="container">
    <h2>Welcome New User</h2>
  </header>

  <%- include('../partials/_carousel/_carousel') %>

  <section class="main__posts">
    <nav>
      <a href="#">View Your Recipes</a>
    </nav>

    
    <%- include('../partials/_showRecipes/_showRecipes') %>
      
      <section class="posts_list">

        <% if ( user.recipes.length === 0 ) { %>
         <!-- you have no post yet -->
        <% } %>
        
        <% user.recipes.forEach( recipe => { %>
          <div class="post"><%= recipe.caption %> </div>
          <div class="post"><%= recipe.caption %> </div>
        <% }) %>

      </section>

  </section>


  </section>

</html>

