<!DOCTYPE html>
<html>

  <%- include('../partials/_head/_head') %>

  <body>
    
  <%- include('../partials/_mainNav/_navBar') %>

    <!--  Place remaining index content for users here  -->
  </body>

  <header class="container">
<<<<<<< HEAD
    <h2>Welcome User</h2>
=======
    <h2>Welcome <%= user.name %></h2>
>>>>>>> editRecipe
  </header>

  <%- include('../partials/_carousel/_carousel') %>

  <section class="main__posts">
    <nav>
      <a href="#">View Your Recipes</a>
    </nav>

    
    <%- include('../partials/_showRecipes/_showRecipes', {recipes}) %>
      
      
  </section>


  </section>

</html>

